/*image uploader preview*/
.upload-preview img {
    height: 80px;
    width: 80px;
    border: 1px solid #ddd;
    padding: 5px;
    cursor: pointer;
}

.hdn-uploder {
    display: none !important;
}

/*phone number input field*/
.iti{
    display: block!important;
}

/*
Start jquery datatable style
*/
.dataTables_wrapper .dt-buttons a.dt-button {
    background-color: #607d8b;
    color: #fff;
    padding: 7px 12px;
    margin-right: 5px;
    text-decoration: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.16),0 2px 10px rgba(0,0,0,0.12);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    border: 0;
    font-size: 13px;
    outline: 0;
}
div.dt-buttons {
    margin-bottom: 10px;
}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    margin-top: 4px;
}
button.dt-button, div.dt-button, a.dt-button {
    background-image: none !important;
}
.dataTables_wrapper .dataTables_info {
    /*//remove float_ left;*/
    float: none !important;
    /*padding-top: 0.55rem;*/
    /*padding-right: .50rem;*/
}
.buttons-csv {
    background-color: #2ab9d0 !important;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,0.2),0 13px 24px -11px rgba(233,30,99,0.6);
    color: #fff !important;
    border-radius: 30px !important;
    border: 0 !important;
    height: 30px;
    width: 80px;
    cursor: pointer;
}
.buttons-create {
    background-color: #2ab9d0 !important;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,0.2),0 13px 24px -11px rgb(42, 184, 207);
    color: #fff !important;
    border-radius: 30px !important;
    border: 0 !important;
    height: 30px;
    width: 80px;
    cursor: pointer;
    padding: 0px !important;
}
.buttons-excel {
    background-color: #59bf70 !important;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,0.2),0 13px 24px -11px rgba(233,30,99,0.6);
    color: #fff !important;
    border-radius: 30px !important;
    border: 0 !important;
    height: 30px;
    width: 80px;
    cursor: pointer;
}
.buttons-reload {
    background-color: #59bf70 !important;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,0.2),0 13px 24px -11px rgb(89, 190, 112);
    color: #fff !important;
    border-radius: 30px !important;
    border: 0 !important;
    height: 30px;
    width: 80px;
    cursor: pointer;
    padding: 0px !important;
}
.buttons-export {
    background-color: #000000 !important;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,0.2),0 13px 24px -11px rgba(0, 0, 0, 0.6);
    color: #fff !important;
    border-radius: 30px !important;
    border: 0 !important;
    height: 30px;
    width: 80px;
    cursor: pointer;
    padding: 0px !important;
}

.buttons-pdf {
    background-color: #e91e63 !important;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,0.2),0 13px 24px -11px rgba(233,30,99,0.6);
    color: #fff !important;
    border-radius: 30px !important;
    border: 0 !important;
    height: 30px;
    width: 80px;
    cursor: pointer;
}

.buttons-reset {
    background-color: #e91e63 !important;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,0.2),0 13px 24px -11px rgba(233,30,99,0.6);
    color: #fff !important;
    border-radius: 30px !important;
    border: 0 !important;
    height: 30px;
    width: 80px;
    cursor: pointer;
    padding: 0px !important;
}

.buttons-print {
    background-color: #6563ef !important;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,0.2),0 13px 24px -11px #6563ef;
    color: #fff !important;
    border-radius: 30px !important;
    border: 0 !important;
    height: 30px;
    width: 80px;
    cursor: pointer;
}
.buttons-delete {
    background-color: #d02a38 !important;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,0.2),0 13px 24px -11px #d02a38;
    color: #fff !important;
    border-radius: 30px !important;
    border: 0 !important;
    height: 30px;
    width: 80px;
    cursor: pointer;
}

/*
End jquery datatable style
*/
.ic-margin-right-5 {
    margin-right: 5px;
}
.ic-custom-action .waves-circle{
    line-height: 1.5em!important;
}
.ic-custom-action a {
    margin-right: 5px;
}
.ic-custom-action {
    margin-top: -44px!important;
    text-align: center;
}

.ic-list-img {
    width: 80px;
    height: 60px;
    object-fit: cover;
}
table.dataTable {
    width: 100% !important;
}
.table-responsive {
    width: 100% !important;
}
.img-64 {
    width: 64px;
    height: 64px;
}
.select2-selection__rendered{
    width: auto!important;
}
.select2-container .select2-search--inline{
    float: unset!important;
}

.select2-search__field{
    height: 30px;
}
.ic-patient-details-warper {
    display: flex;
    justify-content: space-between;
}

.ic-patient-basic-info {
    padding-left: 40px;
}

.ic-patient-basic-info h4 {
    margin: 0px;
    margin-bottom: 15px;
}
.ic-patient-basic-info h5,
h6 {
    margin: 0;
    margin-bottom: 10px;
}

.ic-patient-profile-basic-info {
    display: flex;
}

.ic-patient-details-info-warper {
    margin-top: 40px;
}

.ic-patient-details-info-warper h5.text-muted {
    margin-bottom: 15px;
}
.ic-patient-details-tab {
    margin-bottom: 15px;
}

.ic-patient-profile-basic-info .ic-patient-adress-info {
    padding-left: 40px;
}

.ic-profile-details-goback {
    flex: 0 0 auto;
}

.ic-invoice-card-wraper {
    min-height: 65vh;
}
.ic-bg-dashboard-card{
    background-color: #28a9a8 !important;
}
.ic-role .form-check .form-check-label {
  font-size: 14px;
  font-family: araboto-normal;
  color: #4c516d;
}
@media only screen and (max-width: 1199.98px) {
  .ic-role .form-check .form-check-label {
    font-size: 13px;
  }
}
.ic-role .form-check .form-check-input {
  cursor: pointer;
  width: 16px;
  height: 16px;
  border-radius: 4px;
}
@media only screen and (max-width: 1399.98px) {
  .ic-role .form-check .form-check-input {
    width: 14px;
    height: 14px;
    margin-top: 6px;
  }
}
.ic-role .form-check .form-check-input:focus {
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.2509803922);
}
.ic-role .form-check .form-check-input:checked {
  background-color: #032145;
  border-color: #032145;
}
.ic-role .mb_24 {
  margin-bottom: 24px;
}
@media only screen and (max-width: 1399.98px) {
  .ic-role .mb_24 {
    margin-bottom: 16px;
  }
}
@media only screen and (max-width: 1199.98px) {
  .ic-role .mb_24 {
    margin-bottom: 8px;
  }
}
.ic-role .accordion .accordion-item {
  border: 1px solid #ebe7e7;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.ic-role .accordion .accordion-item:not(:last-child) {
  margin-bottom: 24px;
}
@media only screen and (max-width: 1399.98px) {
  .ic-role .accordion .accordion-item:not(:last-child) {
    margin-bottom: 16px;
  }
}
@media only screen and (max-width: 1199.98px) {
  .ic-role .accordion .accordion-item:not(:last-child) {
    margin-bottom: 8px;
  }
}
.ic-role .accordion .accordion-header {
  padding: 10px 14px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.ic-role .accordion .accordion-header .ic-check-all {
  flex: 0 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  gap: 8px;
}
.ic-role .accordion .accordion-header .ic-check-all .form-check-input {
  margin-top: 0;
  border-radius: 4px;
}
.ic-role .accordion .accordion-header .ic-check-all .form-check-label {
  font-size: 14px;
  font-family: araboto-medium;
}
@media only screen and (max-width: 1199.98px) {
  .ic-role .accordion .accordion-header .ic-check-all .form-check-label {
    font-size: 13px;
  }
}
.ic-role .accordion .accordion-button {
  border-radius: 6px !important;
  font-size: 14px;
  font-family: araboto-medium;
  padding: 0;
  max-width: 20px;
}
@media only screen and (max-width: 1199.98px) {
  .ic-role .accordion .accordion-button {
    font-size: 13px;
  }
}
.ic-role .accordion .accordion-button:after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='17' viewBox='0 0 16 17' fill='none'%3E%3Cpath d='M8.00045 9.3213L11.3003 6.02148L12.2431 6.96429L8.00045 11.207L3.75781 6.96429L4.70063 6.02148L8.00045 9.3213Z' fill='%234C516D'/%3E%3C/svg%3E");
}
.ic-role .accordion .accordion-button:not(.collapsed) {
  background-color: #fff;
  color: #1d2939;
  border-radius: 6px 6px 0 0 !important;
  box-shadow: none !important;
}
.ic-role .accordion .accordion-button:not(.collapsed):after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='17' viewBox='0 0 16 17' fill='none'%3E%3Cpath d='M8.00045 9.3213L11.3003 6.02148L12.2431 6.96429L8.00045 11.207L3.75781 6.96429L4.70063 6.02148L8.00045 9.3213Z' fill='%234C516D'/%3E%3C/svg%3E");
}
.ic-role .accordion .accordion-button:focus {
  box-shadow: none;
  border-color: #ebe7e7;
}
.ic-role .accordion .accordion-body {
  padding: 14px;
  border-top: 1px solid #ebe7e7;
}

.ic-button {
  cursor: pointer;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 11px 16px 11px;
  gap: 5px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  font-family: araboto-medium;
  font-size: 14px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.ic-button span {
  font-family: araboto-medium;
  font-size: 14px;
}
@media only screen and (max-width: 1199.98px) {
  .ic-button span {
    font-size: 13px;
  }
}
.ic-button i {
  font-size: 16px;
}
@media only screen and (max-width: 1399.98px) {
  .ic-button {
    padding: 6px 14px 5px;
  }
}
@media only screen and (max-width: 1199.98px) {
  .ic-button {
    font-size: 13px;
    padding: 5px 12px 4px;
  }
}
@media only screen and (max-width: 767.98px) {
  .ic-button {
    font-size: 12px;
    padding: 4px 10px;
  }
}
.ic-button.primary {
  color: #fff;
  background: #032145;
  border: 1px solid #032145;
}
.ic-button.primary:hover {
  color: #032145;
  background: #fff;
}
.ic-button.success {
  color: #fff;
  background: #4ed737;
  border: 1px solid #4ed737;
}
.ic-button.success:hover {
  color: #4ed737;
  background: #fff;
}
.ic-button.grey {
  color: #fff;
  background: #4c516d;
  border: 1px solid #4c516d;
}
.ic-button.grey:hover {
  color: #4c516d;
  background: #fff;
}
.ic-button.grey-light {
  color: #032145;
  background: rgba(3, 33, 69, 0.1);
  border: 1px solid rgba(3, 33, 69, 0.1);
}
.ic-button.grey-light:hover {
  color: #032145;
  background: #fff;
}
.ic-button.white {
  color: #1d2939;
  background: #fff;
  border: 1px solid #D0D5DD;
}
.ic-button.white:hover {
  color: #fff;
  background: #1d2939;
}
.ic-button.orange {
  color: #1d2939;
  background: #ff5a3c;
  border: 1px solid #ff5a3c;
}
.ic-button.orange:hover {
  color: #ff5a3c;
  background: #1d2939;
  border-color: #1d2939;
}

.ic-btn {
  height: 44px;
  padding: 0px 25px;
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-transform: capitalize;
  font-size: 16px;
  font-family: araboto-medium;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #032145;
  background-color: #fff;
  border: 1px solid #fff;
}
@media only screen and (max-width: 1399.98px) {
  .ic-btn {
    font-size: 15px;
    height: 42px;
    padding: 0px 18px;
  }
}
@media only screen and (max-width: 1199.98px) {
  .ic-btn {
    font-size: 14px;
    height: 40px;
    padding: 0px 15px;
  }
}
@media only screen and (max-width: 991.98px) {
  .ic-btn {
    font-size: 13px;
    height: 38px;
  }
}
@media only screen and (max-width: 767.98px) {
  .ic-btn {
    height: 37px;
  }
}
.ic-btn:hover {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
}
.ic-btn.outline {
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
}
.ic-btn.outline:hover {
  color: #032145;
  background-color: #fff;
}
.ic-btn.primary {
  color: #fff;
  background-color: #032145;
  border: 1px solid #032145;
}
.ic-btn.primary:hover {
  color: #032145;
  background-color: #fff;
}

.form-control:focus {
  box-shadow: none;
}
.ic_form .form-label {
  font-size: 14px;
  color: #4c516d;
  font-family: araboto-medium;
  margin-bottom: 6px;
}
@media only screen and (max-width: 1199.98px) {
  .ic_form .form-label {
    font-size: 13px;
  }
}
.ic_form .form-control {
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  font-size: 16px;
  font-family: araboto-normal;
  height: 44px;
  background-color: white;
  border: 1px solid #D0D5DD;
  color: #4c516d;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
@media only screen and (max-width: 1399.98px) {
  .ic_form .form-control {
    font-size: 15px;
    height: 42px;
  }
}
@media only screen and (max-width: 1199.98px) {
  .ic_form .form-control {
    font-size: 14px;
    height: 40px;
  }
}
@media only screen and (max-width: 991.98px) {
  .ic_form .form-control {
    font-size: 13px;
    height: 38px;
  }
}
@media only screen and (max-width: 767.98px) {
  .ic_form .form-control {
    height: 37px;
  }
}
.ic_form .form-control:focus {
  border: 1px solid #032145;
  box-shadow: none;
  outline: 0;
}
.ic_form .form-control.ic-textarea {
  height: 110px;
  resize: none;
}
@media only screen and (max-width: 1399.98px) {
  .ic_form .form-control.ic-textarea {
    height: 100px;
  }
}
@media only screen and (max-width: 1199.98px) {
  .ic_form .form-control.ic-textarea {
    height: 90px;
  }
}
@media only screen and (max-width: 991.98px) {
  .ic_form .form-control.ic-textarea {
    height: 80px;
  }
}
@media only screen and (max-width: 767.98px) {
  .ic_form .form-control.ic-textarea {
    height: 70px;
  }
}
.ic_form .ic-check {
  height: 44px;
  gap: 8px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
@media only screen and (max-width: 1399.98px) {
  .ic_form .ic-check {
    height: 42px;
  }
}
@media only screen and (max-width: 1199.98px) {
  .ic_form .ic-check {
    height: 40px;
  }
}
@media only screen and (max-width: 991.98px) {
  .ic_form .ic-check {
    height: 38px;
  }
}
@media only screen and (max-width: 767.98px) {
  .ic_form .ic-check {
    height: 37px;
  }
}
@media only screen and (max-width: 575.98px) {
  .ic_form .ic-check {
    height: unset;
  }
}
.ic_form .ic-check input {
  cursor: pointer;
  height: 22px;
  width: 36px;
  margin-top: 0;
}
.ic_form .ic-check input:checked {
  background-color: #032145;
  border-color: #032145;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e") !important;
}
.ic_form .ic-check input:focus {
  border-color: #D0D5DD;
  box-shadow: none;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
}
.ic_form .ic-check.h-unset {
  height: unset;
}
.ic_form textarea:focus {
  border: 1px solid #fe7239;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.ic_form .bootstrap-select {
  width: 100% !important;
}
.ic_form .bootstrap-select .dropdown-toggle {
  gap: 10px;
  height: 44px;
  color: #4c516d;
  background-color: #fff;
  border: 1px solid #D0D5DD;
  font-size: 16px;
  font-family: araboto-normal;
  text-transform: capitalize;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
@media only screen and (max-width: 1399.98px) {
  .ic_form .bootstrap-select .dropdown-toggle {
    font-size: 15px;
    height: 42px;
  }
}
@media only screen and (max-width: 1199.98px) {
  .ic_form .bootstrap-select .dropdown-toggle {
    font-size: 14px;
    height: 40px;
  }
}
@media only screen and (max-width: 991.98px) {
  .ic_form .bootstrap-select .dropdown-toggle {
    font-size: 13px;
    height: 38px;
  }
}
@media only screen and (max-width: 767.98px) {
  .ic_form .bootstrap-select .dropdown-toggle {
    height: 37px;
  }
}
.ic_form .bootstrap-select .dropdown-toggle:focus {
  outline: none !important;
  box-shadow: none !important;
}
.ic_form .bootstrap-select .dropdown-toggle .filter-option {
  display: flex;
  align-items: center;
}
.ic_form .bootstrap-select .dropdown-item.active {
  color: #fff;
  background-color: #032145;
}
.ic_form .bootstrap-select .dropdown-item:active {
  color: #fff;
  background-color: #032145;
}
@media only screen and (max-width: 1399.98px) {
  .ic_form .mb_20 {
    margin-bottom: 18px;
  }
}
@media only screen and (max-width: 1199.98px) {
  .ic_form .mb_20 {
    margin-bottom: 16px;
  }
}
@media only screen and (max-width: 991.98px) {
  .ic_form .mb_20 {
    margin-bottom: 14px;
  }
}
@media only screen and (max-width: 767.98px) {
  .ic_form .mb_20 {
    margin-bottom: 12px;
  }
}
@media only screen and (max-width: 575.98px) {
  .ic_form .mb_20 {
    margin-bottom: 10px;
  }
}
.ic_form .form-check-label {
  font-size: 14px;
  font-family: araboto-normal;
  color: #4c516d;
  cursor: pointer;
}
@media only screen and (max-width: 1199.98px) {
  .ic_form .form-check-label {
    font-size: 13px;
  }
}
.ic_form .form-check-input {
  cursor: pointer;
  width: 16px;
  height: 16px;
}
@media only screen and (max-width: 1399.98px) {
  .ic_form .form-check-input {
    width: 14px;
    height: 14px;
    margin-top: 6px;
  }
}
.ic_form .form-check-input:focus {
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.2509803922);
}
.ic_form .form-check-input:checked {
  background-color: #032145;
  border-color: #032145;
}
.ic_form .input-icon-wrapper {
  position: relative;
}
.ic_form .input-icon-wrapper .password-toggler {
  position: absolute;
  cursor: pointer;
  right: 10px;
  bottom: 50%;
  transform: translateY(50%);
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.ic_form .input-icon-wrapper .password-toggler i {
  color: #4c516d;
}
.ic_form .select2.select2-container {
  width: 100% !important;
}
.ic_form .select2.select2-container .select2-selection {
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  font-size: 16px;
  font-family: araboto-normal;
  height: 44px;
  background-color: white;
  border: 1px solid #D0D5DD;
  color: #4c516d;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  position: relative;
}
@media only screen and (max-width: 1399.98px) {
  .ic_form .select2.select2-container .select2-selection {
    font-size: 15px;
    height: 42px;
  }
}
@media only screen and (max-width: 1199.98px) {
  .ic_form .select2.select2-container .select2-selection {
    font-size: 14px;
    height: 40px;
  }
}
@media only screen and (max-width: 991.98px) {
  .ic_form .select2.select2-container .select2-selection {
    font-size: 13px;
    height: 38px;
  }
}
@media only screen and (max-width: 767.98px) {
  .ic_form .select2.select2-container .select2-selection {
    height: 37px;
  }
}
.ic_form .select2.select2-container .select2-selection:focus {
  border: 1px solid #fe7239;
  box-shadow: none;
  outline: 0;
}
.ic_form .select2.select2-container .select2-selection .select2-selection__arrow {
  top: 50%;
  transform: translateY(-50%);
}
.right-button-group {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.setting .nav .nav-item .nav-link.active {
  background-color: transparent;
  color: var(--bs-danger) !important;
}
.setting .nav .nav-item .nav-link.active::after {
  content: "";
  border-right: 4px solid var(--bs-danger);
  height: 100%;
  position: absolute;
  right: -1px;
  top: 0;
  border-radius: 5px 0 0 5px;
}
